﻿@model Lab2_MVC_MamaniAyalaBrandon.Models.ClsBisiesto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <center>
            <h1><b>Años Bisiestos y no bisiestos</b></h1><br />
                 <div>
                     @using (Html.BeginForm("Mostrar", "Bisiesto", FormMethod.Post))
                      {
                        <div>
                            @Html.LabelFor(model => model.Inicio ,"Año inicial: ")
                            @Html.TextBoxFor(model => model.Inicio)
                        </div>
                        <div>
                            @Html.LabelFor(model => model.Fin ,"Año final: ")
                            @Html.TextBoxFor(model => model.Fin)
                        </div>
                        <div>
                            <h3>Opciones: </h3>
                            <br />
                            <label>
                                @Html.RadioButton("Anio", "Bisiestos", true)<label>Bisiestos</label>
                            </label>
                            <label>
                                @Html.RadioButton("Anio", "No Bisiestos", true) <label>No Bisiestos</label>
                            </label>
                            <label>
                                @Html.RadioButton("Anio", "Ambos", true) <label>Ambos</label>
                            </label>
                        </div>
                        <br /><br />
                        <input type="submit" value="Generar" />
                       }
                  </div>
        </center>
    </div>
</body>
</html>
