﻿@model Lab2_MVC_MamaniAyalaBrandon.Models.ClsBisiesto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mostrar</title>
</head>
<body>
    <div>
        <h1>Años Bisiestos y No Bisiestos</h1><br />

        <h2><strong>@Request["Anio"]</strong></h2>
            <div>
                <strong>@Model.Resultado</strong>
            </div>
        <br /><a href="Index"> << Retornar</a>
    </div>
</body>
</html>
