﻿@model Lab2_MVC_MamaniAyalaBrandon.Models.ClsBillete
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
         <center>
             <h1><b>Cajero de Billetes</b></h1><br />

             @using (Html.BeginForm("Viualizar","Billete",FormMethod.Post)) { 

                 <div>
                     @Html.LabelFor(model => model.monto, "Ingrese Monto: ")
                     @Html.EditorFor(model => model.monto)
                 </div><br />
                 <input type="submit" value="Cambiar"/>
             }
         </center>
    </div>
</body>
</html>
