﻿@model Lab2_MVC_MamaniAyalaBrandon.Models.ClsBillete
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Viualizar</title>
</head>
<body>
    <div> 
        <center>
            <h1>Cambio</h1><br />
                           <div>
                               <label>Monto: @Model.monto</label><br />
                               <label>Billetes de 100: @Model.b100</label><br />
                               <label>Billetes de 50: @Model.b50</label><br />
                               <label>Biletes de 20: @Model.b20</label><br />
                               <label>Billetes de 10: @Model.b10</label><br />
                           </div>
                <br /><a href="Index"> << Retornar</a>
        </center>
    </div>
</body>
</html>
